
.call-button{
  font-size : 20px;
  width: 200px;
  height: 50px;
  color: #42884d;
  border: none;
  cursor: pointer;
  border: none;
}

.call-button:focus{
  outline:0;
}

.control-class{
  margin: 50px;
  text-align: center;
}

.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  margin: 1.75em auto 0;
}

.circle-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin: -2em;
  
}

.circle-container img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #cccccc;;
}

.center-circle{
  padding: 10px;
}
.image-fixation {
  animation: 10s wheel linear infinite;
}

.animation {
  animation: 10s gear-rotate-ticks10-right linear infinite;
}

.center-circle-image{
  padding: 20px;
}

.center-circle-a{
    width: calc(4em + 40px) !important;
    height: calc(4em + 40px) !important;
    margin: calc(-2em - 40px) !important;
}

@keyframes gear-rotate-ticks10-right {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(0deg); }
  10% { transform: rotate(36deg); }
  15% { transform: rotate(36deg); }
  20% { transform: rotate(72deg); }
  25% { transform: rotate(72deg); }
  30% { transform: rotate(108deg); }
  35% { transform: rotate(108deg); }
  40% { transform: rotate(144deg); }
  45% { transform: rotate(144deg); }
  50% { transform: rotate(180deg); }
  55% { transform: rotate(180deg); }
  60% { transform: rotate(216deg); }
  65% { transform: rotate(216deg); }
  70% { transform: rotate(252deg); }
  75% { transform: rotate(252deg); }
  80% { transform: rotate(288deg); }
  85% { transform: rotate(288deg); }
  90% { transform: rotate(324deg); }
  95% { transform: rotate(324deg); }
  100% { transform: rotate(360deg); }
}
@keyframes wheel {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(0deg); }
  10% { transform: rotate(-38deg); }
  15% { transform: rotate(-38deg); }
  20% { transform: rotate(-74deg); }
  25% { transform: rotate(-74deg); }
  30% { transform: rotate(-110deg); }
  35% { transform: rotate(-110deg); }
  40% { transform: rotate(-146deg); }
  45% { transform: rotate(-146deg); }
  50% { transform: rotate(-182deg); }
  55% { transform: rotate(-182deg); }
  60% { transform: rotate(-218deg); }
  65% { transform: rotate(-218deg); }
  70% { transform: rotate(-254deg); }
  75% { transform: rotate(-254deg); }
  80% { transform: rotate(-290deg); }
  85% { transform: rotate(-290deg); }
  90% { transform: rotate(-326deg); }
  95% { transform: rotate(-326deg); }
  100% { transform: rotate(-360deg); }
}
